ul {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.text-balance {
  text-wrap: balance;
}

.container {
  max-width: 1000px;
}

.project svg {
  height: 50px;
  object-fit: cover;
  width: auto !important;
  max-width: 65%;
}
